[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-apds9960 = "*"
rpi = "*"
gpiozero = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3"
